<ion-header>
  <ion-toolbar>
    <ion-title>
      New
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <b><h2>Nuovo Contatto</h2></b>
  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input placeholder="Inserire nome"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Cognome</ion-label>
      <ion-input placeholder="Inserire cognome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input placeholder="Inserire email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Numero</ion-label>
      <ion-input placeholder="Inserire numero"></ion-input>
    </ion-item>
    <br><br>
    <ion-button color="success">Aggiungi</ion-button>
</ion-content>
